<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>st.media.mfatoken</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>05D45FAE-5A09-43F3-B73D-8F66A78222AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D8BF4D3-AB7B-4B11-9ABF-A67683037FB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12B4D06E-8534-40F2-8C9D-8C61EA691444</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5782DE5-8F81-437B-98A5-061B46A71176</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A26C8E3-B2C5-4AB2-8CFB-A0E2B6940E2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89692AD0-2006-4407-9406-F2964FDF9A7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4BA0C8E-AA54-4F88-90B8-BCC9B7761BE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32D211BF-A349-4C0F-8C7B-A6B3A7FAA53E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F61C9EC-409B-4B6B-8DB9-F9CDAEC167AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F61C9EC-409B-4B6B-8DB9-F9CDAEC167AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D8BF4D3-AB7B-4B11-9ABF-A67683037FB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5318F090-2B0F-46C9-8AC4-4CEC210DA0BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FE4ACDD-2325-49FD-AB59-65E1448472D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55CDFF9D-486E-42A0-B6CB-338F80582A21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>950768EA-F3BE-4666-AD1F-D7B634E67C7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6FE4ACDD-2325-49FD-AB59-65E1448472D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D8BF4D3-AB7B-4B11-9ABF-A67683037FB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B034AE9-E020-46D3-8F3E-6E9BC8DCBD41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89692AD0-2006-4407-9406-F2964FDF9A7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D8BF4D3-AB7B-4B11-9ABF-A67683037FB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7CB576B-0096-4B76-BC8F-FE48E452F2C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B034AE9-E020-46D3-8F3E-6E9BC8DCBD41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF4E6FC6-41DD-49F7-B088-741F6F733280</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05D45FAE-5A09-43F3-B73D-8F66A78222AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0D68631-C71A-452F-A241-126403912C23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55CDFF9D-486E-42A0-B6CB-338F80582A21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4BA0C8E-AA54-4F88-90B8-BCC9B7761BE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0D68631-C71A-452F-A241-126403912C23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>12B4D06E-8534-40F2-8C9D-8C61EA691444</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Minoru Nakata &lt;minoru@sprocket.bz&gt;</string>
	<key>description</key>
	<string>generate MFA Token</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MFA Token</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./ctrl.sh token $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>generateToken.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mfa</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./ctrl.sh filter $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>listService.sh</string>
				<key>subtext</key>
				<string>service name for generate</string>
				<key>title</key>
				<string>{service}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B7CB576B-0096-4B76-BC8F-FE48E452F2C8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{var:output}
</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>55CDFF9D-486E-42A0-B6CB-338F80582A21</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Token {var:output} for {var:service} generated.</string>
				<key>title</key>
				<string>MFA Token</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>950768EA-F3BE-4666-AD1F-D7B634E67C7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:output}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^\d+$</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D0D68631-C71A-452F-A241-126403912C23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>output</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D4BA0C8E-AA54-4F88-90B8-BCC9B7761BE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>service</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7B034AE9-E020-46D3-8F3E-6E9BC8DCBD41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Error: {var:output}</string>
				<key>title</key>
				<string>MFA Token</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D5782DE5-8F81-437B-98A5-061B46A71176</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:output}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^(?!\d+).+$</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>12B4D06E-8534-40F2-8C9D-8C61EA691444</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>MFA Token</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9D8BF4D3-AB7B-4B11-9ABF-A67683037FB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mfa listgen</string>
				<key>subtext</key>
				<string>generate service list for MFA codegen</string>
				<key>text</key>
				<string>mfa listgen</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1A26C8E3-B2C5-4AB2-8CFB-A0E2B6940E2B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./ctrl.sh listgen</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>generateList.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>89692AD0-2006-4407-9406-F2964FDF9A7B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./ctrl.sh add $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>addService.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6FE4ACDD-2325-49FD-AB59-65E1448472D9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mfa add</string>
				<key>subtext</key>
				<string>add new service to mfa list</string>
				<key>text</key>
				<string>mfa add {service} {seckey}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5318F090-2B0F-46C9-8AC4-4CEC210DA0BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./ctrl.sh rm $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>removeService.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>05D45FAE-5A09-43F3-B73D-8F66A78222AE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mfa rm</string>
				<key>subtext</key>
				<string>remove service from mfa list</string>
				<key>text</key>
				<string>mfa rm {service}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CF4E6FC6-41DD-49F7-B088-741F6F733280</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mfa init</string>
				<key>subtext</key>
				<string>initialize mfa seckey list and encription key</string>
				<key>text</key>
				<string>mfa init</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>32D211BF-A349-4C0F-8C7B-A6B3A7FAA53E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./ctrl.sh init</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>init.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F61C9EC-409B-4B6B-8DB9-F9CDAEC167AF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>05D45FAE-5A09-43F3-B73D-8F66A78222AE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>12B4D06E-8534-40F2-8C9D-8C61EA691444</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>1A26C8E3-B2C5-4AB2-8CFB-A0E2B6940E2B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>32D211BF-A349-4C0F-8C7B-A6B3A7FAA53E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>4F61C9EC-409B-4B6B-8DB9-F9CDAEC167AF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>5318F090-2B0F-46C9-8AC4-4CEC210DA0BF</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>55CDFF9D-486E-42A0-B6CB-338F80582A21</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>6FE4ACDD-2325-49FD-AB59-65E1448472D9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>7B034AE9-E020-46D3-8F3E-6E9BC8DCBD41</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>89692AD0-2006-4407-9406-F2964FDF9A7B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>950768EA-F3BE-4666-AD1F-D7B634E67C7E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>9D8BF4D3-AB7B-4B11-9ABF-A67683037FB7</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>B7CB576B-0096-4B76-BC8F-FE48E452F2C8</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>CF4E6FC6-41DD-49F7-B088-741F6F733280</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>D0D68631-C71A-452F-A241-126403912C23</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>D4BA0C8E-AA54-4F88-90B8-BCC9B7761BE8</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>D5782DE5-8F81-437B-98A5-061B46A71176</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
